<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fog Carport</title>
    <link rel="icon" href="/images/carportfavicon64.png" th:href="@{/images/carportfavicon64.png}" type="image/png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<h3 class="center">Nedenfor kan du lave en forespørgsel på din egen carport ud fra dine egne mål</h3>

<form class="carport-form" method="post">
    <label for="length">Længde:</label>
    <input class="lb" type="number" id="length"  name="length" placeholder="Længde" min="400" max="2700" required/>
    <label for="width">Bredde:</label>
    <input class="lb" type="number" id="width" name="width" placeholder="Bredde" min="300" max="2700" required/>



    <div class="btn">
        <input type="submit" formaction="/sendOrder" value="Bestil Carport" name="button"/>
        <input type="submit" formaction="/calculatePrice" value="Se pris" name="button"/>
    </div>
    <p class="center">Alle mål angives i centimeter </p>

    <div><p class="error" th:unless="${#strings.isEmpty(message)}" th:text="${message}"> </p></div>

    <div th:if="${loginRequired}" class="login-warning">
    <p>Du skal være logget ind for at bestille en carport.</p>
        <a href="/login" class="login-button">Gå til login</a>
    </div>

</form>


<footer>
    <div class="footer-content">
        <p>&copy; 2025 Fog Carport. Alle rettigheder forbeholdes.</p>
    </div>
</footer>

</body>
</html>